<div>
    <h1>{{title}}</h1>

    <button class="btn btn-default" analytics-bind="click" analytics-category="category" analytics-label="label" analytics-value="1" analytics-noninteraction="false">
        Send Event on click
    </button>

    <button class="btn btn-default" analytics-bind="mouseout" analytics-category="category" analytics-label="label" analytics-value="1" analytics-noninteraction="false">
        Send Event on Mouseout
    </button>

    <button class="btn btn-default" analytics-bind="mouseout" analytics-if="1===2" analytics-category="category" analytics-label="label" analytics-value="1">
        Don't send event - has condition "1==2"
    </button>

    <button class="btn btn-default" analytics-bind="click" analytics-category="category" analytics-label="label" analytics-value="1"
            analytics-custom-test="1|value|3" analytics-custom-test2="1">
        Send Event on click with custom var
    </button>

    <button class="btn btn-default" analytics-bind="click" analytics-function="test">
        Send Event on click using function on scope
    </button>
</div>